#tsParticles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
}

* {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}